

.name-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 138px;
  margin-top: 44px;

}
.name {
  font-size: 26px;
  font-weight: 700;
  font-family: sans-serif;
  color: #2B3442;
  line-height: 39px;

}


.data {
font-size: 15px;
font-weight: 400;
font-family: sans-serif;
line-height: 22px;
color: #697C9A;
}
.infocard-text {
  font-size: 15px;
font-weight: 400;
font-family: sans-serif;
line-height: 25px;
color: #4B6A9B;
}