

.social-info-box {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.social-info-line {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  color: #4B6A9B;
}