

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 144px; */
padding-top: 144px;
}

.divfinder {
  font-size: 26px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 39px;
  color: #222731;
}

.darck-mode {
  font-size: 13px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 19px;
  color: #697C9A;
  /* margin-right: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  
}